body {
    background-color: lightgrey;
}

.mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    background-color: white;
    border: black 5px solid;
}

.gridColumns{
    display: flex;
    flex: 1;
}

.gridRows {
    border: black 1px solid;
    flex: 1;
}