.mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    background-color: lightblue;
}

.gridColumns{
    display: flex;
    flex: 1;
}

.gridRows {
    border: black 1px solid;
    flex: 1;
}